@model ClientApp.Models.CompanyServiceEntity
@{
    ViewBag.Title = "AddToCart";
}
<h2>Chi tiết dịch vụ</h2>

<div>
    <h4>CompanyService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameCos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameCos)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>


    <h2>AddToCart</h2>
    <h3>From:</h3>
    <input type="date" id="from" />

    <h3>To:</h3>
    <input type="date" id="to"/>
    <h3>
        <input type="checkbox" value="T2" name="T2" id="T2" />
        <label for="T2">Thứ 2</label>
        <input type="checkbox" value="T3" id="T3" />
        <label for="T3">Thứ 3</label>
        <input type="checkbox" value="T4" id="T4" />
        <label for="T4">Thứ 4</label>
        <input type="checkbox" value="T5" id="T5" />
        <label for="T5">Thứ 5</label>
        <input type="checkbox" value="T6" id="T6" />
        <label for="T6">Thứ 6</label>
        <input type="checkbox" value="T7" id="T7" />
        <label for="T7">Thứ 7</label>
        <input type="checkbox" value="CN" id="CN" />
        <label for="CN">Chủ nhật</label>
    </h3>
<h4 class="total"> Total:<span id="sTotal"></span></h4>
<button >Đặt hàng</button>
<script>
    function calTotal() {
        var sum = 0;
        var dateInput = new Date(document.getElementById("from").value); 
        var dateOutput = new Date(document.getElementById("to").value);
        var price = @Model.price;
        while (dateInput < dateOutput) {
            if (document.getElementById("T2").checked == true && dateInput.getDay() == 1)
                sum += price;
            if (document.getElementById("T3").checked == true && dateInput.getDay() == 2)
                sum += price;
            if (document.getElementById("T4").checked == true && dateInput.getDay() == 3)
                sum += price;
            if (document.getElementById("T5").checked == true && dateInput.getDay() == 4)
                sum += price;
            if (document.getElementById("T6").checked == true && dateInput.getDay() == 5)
                sum += price;
            if (document.getElementById("T7").checked == true && dateInput.getDay() == 6)
                sum += price;
            if (document.getElementById("CN").checked == true && dateInput.getDay() == 0)
                sum += price;
            dateInput.setDate(dateInput.getDate()+1);
        }
        return sum;
    }
    var checkbox = document.querySelectorAll("input[type=checkbox]");
    checkbox.forEach(item => {
        item.addEventListener('change',
            function () {
                console.log(calTotal());
                document.getElementById("sTotal").innerHTML = calTotal().toString();
            });
    });
</script>