@model ClientApp.Models.CompanyServiceEntity
@{
    ViewBag.Title = "CompanyServiceDetail";
}

<h2>CompanyServiceDetail</h2>
<form action="../AddToCart" method="post">
    <h4>Dịch vụ</h4>
        <input type="hidden" id="idCs" name="idCs" value="@Model.idCs"/>
        <input id="nameCos" name="nameCos" type="text" value="@Model.nameCos" readonly="readonly"/>    
        <h3>Mô tả:</h3>
    <input id="description" name="description" value="@Model.description" readonly="readonly"/>
        <h3>Đơn giá:</h3>
        <p id="price" name="price">@Model.price <span id="unit" name ="unit">@Model.unit</span></p>

   
        <button>Submit</button>
</form>
    <p>
        @Html.ActionLink("AddToCart", "AddToCart", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
