@model IEnumerable<ClientApp.Models.DTO.ServiceDTO>
<div class="body">
    <div class="jumbotron">
        <h1 class="display-4">Chào các bạn đã sử dụng dịch vụ của chúng tôi</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    @foreach (var item in Model)
    {
        <div class="card ">
            <div class="card-body row">
                <div class="card-img">
                    @if (@item.imgEntity != null)
                    {
                        <img src="@item.imgEntity.link" class="card-img" alt="...">
                    }
                </div>
                <div class="card-info">
                <h1 class="card-title">@item.serviceEntity.nameservice</h1>
                <p class="card-text"><span class="card-title">Mô tả</span>@item.serviceEntity.description</p>
                    <a href="#" class="card-link">Xem thêm</a>
                </div>
            </div>
            <div class="pricing-row">
                @foreach (var i in item.companyServiceEntity)
                {
                    <div class="pricing-table">
                        <div class="pricing-block">
                            <div class="pricing-header">
                                <div class="pricing-heading">@i.nameCos</div>
                                <div class="pricing-price">
                                    <span class="pricing__money">@i.price</span>
                                    <span class="pricing__currency">@i.unit</span>
                                </div>
                            </div>
                            @Html.ActionLink("Chọn mua", "AddToCart", new {id = @i.idCs},new {@class = "pricing-button" })
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>