@model ClientApp.Models.Client

<div id="signin">
    <div id="tablesign" class="animate">
        <div id="tablereg" class="bg-info">
            <div id="smalltablereg">Login <span onclick="document.getElementById('signin').style.display = 'none'" class="close" title="Exit">&times;</span></div>
        </div>
        <div id="smalltablesign">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <from id="login" class="input-group">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "input-field", @placeholder = "User Id" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input-field", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    @*<p>
                            <input type="checkbox" class="chech-box"><span>Remember Password</span>
                        </p>*@
                    <button type="submit" class="submit-btn">Log In</button>
                </from>

            }
        </div>
    </div>
</div>
<div id="resigter">

    <div id="tablesign" class="animate">
        <div id="tablereg">
            <div id="smalltablereg">Register <span onclick="document.getElementById('resigter').style.display='none'" class="close" title="Exit">&times;</span></div>
        </div>
        <div id="smalltablesign">
            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <from id="register" class="input-group">
                    @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "input-field", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input-field", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "input-field", @placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input-field", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.confilmpassword, new { htmlAttributes = new { @class = "input-field", @placeholder = "Confilm Password" } })
                    @Html.ValidationMessageFor(model => model.confilmpassword, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "input-field", @placeholder = "Phone Number" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

                    <input type="checkbox" class="chech-box"><span>I agree to the teems & conditions</span>
                    @*<input type="checkbox" class="chech-box"><span>Remember Password</span>*@
                    <button type="submit" class="submit-btn">Registe</button>

                </from>

            }
        </div>
    </div>
</div>
