@model IEnumerable<ClientApp.Models.DTO.ServiceDTO>

@{
    ViewBag.Title = "Service";
}

<h2>Service</h2>

<p>
    @Html.ActionLink("Create New", "NewService")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.serviceEntity.idService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serviceEntity.nameservice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serviceEntity.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serviceEntity.actived)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.serviceEntity.idService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serviceEntity.nameservice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serviceEntity.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serviceEntity.actived)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", item) |
            @Html.ActionLink("Details", "Detail", new { id= item.serviceEntity.idService}) |
            @Html.ActionLink("Delete", "Delete",item.serviceEntity)
        </td>
    </tr>
}

</table>
